.form-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}